        /* ESTILO DA PAGINA INDEX.HTML */

        .container {             
            background: #6C7A89;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;    
            }

            .flex-container {
                display: flex;
                background-color: DodgerBlue;
              }
              
              .flex-container > div {
                background-color: #f1f1f1;
                margin: 10px;
                padding: 20px;
                font-size: 30px;
              }
    
            .box {
            width: 700px;
            height: 1200px;
            background: rgb(134, 192, 187);
            text-align: center;
            }
    
            body {
            margin: 0px;
            } 
            header {            
                width: 700px;
                height: 45px;            
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            li a:hover {
                background-color: #111;
            }

        /* ESTILO DA PAGINA CONTATO.HTML */

        .container {             
            background: #6C7A89;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;            
            }
    
            .box {
            width: 700px;
            height: auto;
            background: rgb(134, 192, 187);
            text-align: center;
            }
    
            body {
            margin: 0px;
            } 
            header {            
                width: 700px;
                height: 45px;            
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            li a:hover {
                background-color: #111;
            }